@layout PimpinanLayout
@page "/pimpinan/skbn"

@attribute [Authorize(Roles = "Pimpinan")]

<div class="noprint container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div style=" display:flex;justify-content:space-between; align-items:center">
            <h5 class="card-header">Data SKBN</h5>
            <div class="d-flex justify-content-center align-items-center m-2">
                <input type="date" class="form-control" placeholder="Mulai" @onchange="@OnStartChange" />
                <label class="m-2">s/d</label>
                <input type="date" class="form-control" placeholder="Selesai" @onchange="@OnEndChange" />
                <a style="width:60px; color:forestgreen;" class="dropdown-item" @onclick="@(()=>PrintLaporanAction())"><i class="bx bx-printer me-1"></i></a>
            </div>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nomor SKBN</th>
                    <th>Pemohon</th>
                    <th>Keperluan</th>
                    <th>Berlaku</th>
                    <th>Ditetapkan</th>
                    <th>Disetujui</th>
                    <th style="width: 20px;"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @if (permohonan != null)
                {
                    @foreach (var item in permohonan.Select((data, index) => new { data, index }))
                    {
                        <tr>
                            <td>@(item.index + 1)</td>
                            <td>@item.data.Nomor</td>
                            <td>@item.data.Profile.Nama</td>
                            <td>@item.data.Keperluan</td>
                            <td>@($"{item.data.Mulai.ToString("dd/MM/yyyy")} - {item.data.Selesai.ToString("dd/MM/yyyy")}")</td>
                            <td>@($"{item.data.TanggalPenetapan.ToString("dd/MM/yyyy")}")</td>
                            <td>@(item.data.DisetujuiOleh == null ? "Belum" : "Sudah")</td>
                            <td>
                                <div class="dropdown" style="position:inherit !important">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" @onclick="@(()=>PrintAction(item.data))"><i class="bx bx-printer me-1"></i>Detail</a>
                                       @if(item.data.DisetujuiOleh==null){
                                        <a class="dropdown-item" @onclick="@(()=> SaveAction(item.data))"><i class="bx bx-edit-alt me-1"></i>Setujui</a>
                                       }
                                       
                                    </div>
                                </div>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

<ConfirmDialog @ref="confirmDialog" />

@if (laporan==true)
{
<CetakLaporannSKBN Data="permohonan" StartDate="@startDate" EndDate="@endDate"></CetakLaporannSKBN>
}

@if(laporan==false){
    <CetakSKBN model="@model"></CetakSKBN>
}




@inject HttpClient httpClient
@inject ILocalStorageService localService
@inject IJSRuntime JS

@code {
    [Inject] protected ToastService ToastService { get; set; }
    ICollection<SKBNModel> permohonan;
    ICollection<SKBNModel> source;
    SKBNModel model;
    Pengambilan pengambilan;
    Pimpinan pimpinan;
    private Modal modal;
    private ConfirmDialog confirmDialog;
    DateTime? startDate;
    DateTime? endDate;
    bool? laporan;
 protected override async Task OnInitializedAsync()
    {
        await httpClient.SetToken(localService);

            var response1 = await httpClient.GetAsync("api/pimpinan/byuser");
            if (response1.IsSuccessStatusCode)
            {
                pimpinan = await response1.GetResult<Pimpinan>();
                ArgumentNullException.ThrowIfNull(pimpinan, "Silahkan Lengkapi Data Profile Anda !");
               
                    if (!pimpinan.Active)
                        throw new SystemException("Accoun Anda Tidak Aktif, Hubungi Administrator !");
                   
            }



        var response = await httpClient.GetAsync("api/permohonan/skbn");

        if (response.IsSuccessStatusCode)
        {
            source = (await response.GetResult<IEnumerable<SKBNModel>>()).ToList();
        }
    }

    async Task PrintLaporanAction()
    {
        laporan = true;
        StateHasChanged();
        await Task.Delay(500);
        await JS.InvokeVoidAsync("window.print");
    }

    async Task OnStartChange(ChangeEventArgs args)
    {
        try
        {
            startDate = Convert.ToDateTime(args.Value);
            await OnDateChange(startDate, endDate);
        }
        catch (Exception ex)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, "Error", ex.Message));
        }
    }

    async Task OnEndChange(ChangeEventArgs args)
    {
        try
        {
            endDate = Convert.ToDateTime(args.Value);
            await OnDateChange(startDate, endDate);
        }
        catch (Exception ex)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, "Error", ex.Message));
        }
    }

    Task OnDateChange(DateTime? startDateX, DateTime? endDateX)
    {
        try
        {
            IEnumerable<SKBNModel> datas = new List<SKBNModel>();

            if (startDateX != null)
                datas = source.Where(x => x.TanggalPenetapan >= startDateX.Value).AsEnumerable();

            if (endDateX != null)
            {
                if (endDateX < startDateX)
                    throw new Exception("Tanggal Mulai Harus Lebih Besar !");

                datas = source.Where(x => x.TanggalPenetapan >= startDateX.Value && x.TanggalPenetapan <= endDateX.Value).AsEnumerable();
            }

            permohonan = datas.ToList();

        }
        catch (Exception ex)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, "Error", ex.Message));
        }

        return Task.CompletedTask;
    }


   

    async Task SaveAction(SKBNModel data)
    {
        try
        {
            var resultDialog = await confirmDialog.ShowAsync("Persetujuan","Yakin Setuji SKBN ?");
            if(resultDialog){
            var httpResponse = await httpClient.PostAsJsonAsync<Pimpinan>($"api/permohonan/persetujuan/{data.Id}", pimpinan);
                if (httpResponse.IsSuccessStatusCode)
                {
                    var result = await httpResponse.GetResult<bool>();
                    if (result == null)
                        throw new SystemException("Data tidak berhasil disimpan !");

                    var datax = source.Where(x=>x.Id==data.Id).FirstOrDefault();
                    var dataxx = datax with { DisetujuiOleh = pimpinan};
                    source.Remove(datax);
                    source.Add(dataxx);
                    permohonan =source.ToList();
                   await this.InvokeAsync(()=> StateHasChanged());
                    ToastService.Notify(new ToastMessage(ToastType.Success, "Success", "Berhasil !"));
                }else{
                    throw new SystemException(await httpResponse.Error());
                }
            }
        }
        catch (Exception ex)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, "Error", ex.Message));
        }
    }

    async Task PrintAction(SKBNModel value)
    {
        laporan = false;
        model = value;
        StateHasChanged();
        await Task.Delay(500);
        await JS.InvokeVoidAsync("window.print");
    }

    private async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }
    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }


}