@layout AdminLayout
@page "/admin/persyaratan"

@attribute [Authorize(Roles = "Admin")]
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div style=" display:flex;justify-content:space-between; align-items:center">
            <h5 class="card-header">Data Persyaratan</h5>
            <div>
                <button @onclick="OnShowModalClick" class="btn btn-primary m-3">Add</button>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Persyaratan</th>
                        <th>Keterangan</th>
                        <th>Photo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @if (persyaratans != null)
                    {
                        @foreach (var item in persyaratans.Select((data,index)=> new {data,index}))
                            {
                            <tr>
                                <td>@(item.index+1)</td>
                                <td>@item.data.Nama</td>
                                <td>@item.data.Keterangan</td>
                                <td><span class="badge bg-label-primary me-1">@(item.data.Aktif ? "Active" : "No")</span></td>
                                <td>
                                    <div class="dropdown" style="position:inherit !important">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" @onclick="@(()=> EditAction(item.data))"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                            <a class="dropdown-item" @onclick="@(()=>DeleteAction(item.data))"><i class="bx bx-trash me-1"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

<Modal @ref="modal" Title="TambahEdit" IsVerticallyCentered=true>
    <BodyTemplate>
        <EditForm Model="@model" OnValidSubmit="SaveAction">
            <Morris.Blazor.Validation.Validate ValidationProperties=@(ValidationProperties.Set.FluentValidator<PersyaratanValidator>()) />
            <div class="mb-3">
                <label for="email" class="form-label">Nama Persyaratan</label>
                <InputText type="text" @bind-Value="model.Nama" class="form-control"></InputText>
                <ValidationMessage For="@(() => model.Nama)" />

            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Keterangan</label>
                <InputTextArea type="text" @bind-Value="model.Keterangan" class="form-control"></InputTextArea>
                <ValidationMessage For="@(() => model.Keterangan)" />
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <InputCheckbox @bind-Value="model.IsPhoto"></InputCheckbox>
                    <label class="form-check-label"> Jika Photo , Gunakan Sebagai Foto Profile </label>
                </div>
            </div>

            @if (model.Id > 0)
            {
                <div class="mb-3">
                    <div class="form-check">
                        <InputCheckbox @bind-Value="model.Aktif"></InputCheckbox>
                        <label class="form-check-label"> Aktif </label>
                    </div>
                </div>
            }

            <div class="mb-3" style="display:flex;justify-content:end; gap:2px">
                <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
                <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Save changes</Button>
            </div>
        </EditForm>
    </BodyTemplate>
</Modal>

<ConfirmDialog @ref="confirmDialog" />

@inject HttpClient httpClient
@inject ILocalStorageService localService

@code {
    [Inject] protected ToastService ToastService { get; set; }
    ICollection<Persyaratan> persyaratans;
    Persyaratan model = new Persyaratan();
    private Modal modal;
    private ConfirmDialog confirmDialog;

    //  List<ToastMessage> messages = new List<ToastMessage>();


    protected override async Task OnInitializedAsync()
    {
        await httpClient.SetToken(localService);
        var response = await httpClient.GetAsync("api/persyaratan");

        if (response.IsSuccessStatusCode)
        {
            persyaratans = (await response.GetResult<IEnumerable<Persyaratan>>()).ToList();
        }
    }

    async Task EditAction(Persyaratan data)
    {
        model.Id = data.Id;
        model.Nama = data.Nama;
        model.Keterangan = data.Keterangan;
        model.IsPhoto = data.IsPhoto;
        model.Aktif = data.Aktif;
        await modal.ShowAsync();
    }

    async Task SaveAction()
    {
        try
        {
            if (model.Id <= 0)
            {
                var httpResponse = await httpClient.PostAsJsonAsync<Persyaratan>("api/persyaratan", model);
                if (httpResponse.IsSuccessStatusCode)
                {
                    var result = await httpResponse.GetResult<Persyaratan>();
                    if (result == null)
                        throw new SystemException("Data tidak berhasil disimpan !");
                    persyaratans.Add(result);
                    ToastService.Notify(new ToastMessage(ToastType.Success, "Success", "Berhasil !"));
                    await modal.HideAsync();
                    return;
                }

                throw new SystemException(await httpResponse.Error());

            }
            else
            {
                var httpResponse = await httpClient.PutAsJsonAsync<Persyaratan>($"api/persyaratan/{model.Id}", model);
                if (httpResponse.IsSuccessStatusCode)
                {
                    var result = await httpResponse.GetResult<Persyaratan>();
                    if (result == null)
                        throw new SystemException("Data tidak berhasil diubah !");

                    var data = persyaratans.SingleOrDefault(x => x.Id == model.Id);
                    if (data != null)
                    {
                        data.Id = result.Id;
                        data.Nama = result.Nama;
                        data.Keterangan = result.Keterangan;
                        data.IsPhoto = result.IsPhoto;
                        data.Aktif = result.Aktif;
                    }
                    ToastService.Notify(new ToastMessage(ToastType.Success, "Success", "Berhasil !"));
                    await modal.HideAsync();
                    return;
                }

                throw new SystemException(await httpResponse.Error());
            }
        }
        catch (Exception ex)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, "Error", ex.Message));
        }
    }

    async Task DeleteAction(Persyaratan value)
    {
        try
        {
            var options = new ConfirmDialogOptions
                {
                    YesButtonText = "OK",
                    YesButtonColor = ButtonColor.Success,
                    NoButtonText = "CANCEL",
                    NoButtonColor = ButtonColor.Danger
                };
            var confirmation = await confirmDialog.ShowAsync(
                title: "Delete",
                message1: "Hapus Persyaratan ??",
                confirmDialogOptions: options);
            if (confirmation)
            {
                var deleted = await httpClient.DeleteFromJsonAsync<bool>($"api/persyaratan/{value.Id}");
                if (deleted)
                {

                    var data = persyaratans.SingleOrDefault(x => x.Id == value.Id);
                    persyaratans.Remove(data);
                    ToastService.Notify(new ToastMessage(ToastType.Success, "Success", "Berhasil Hapus Data !"));
                    await modal.HideAsync();
                    await InvokeAsync(() => StateHasChanged());
                    return;
                }
                throw new SystemException("Data tidak berhasil dihapus !");
            }
        }
        catch (Exception ex)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, "Error", ex.Message));
        }
    }

    private async Task OnShowModalClick()
    {
        model = new Persyaratan() { Aktif = true };
        await modal?.ShowAsync();
    }
    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }



}